In [3]:
myset={'apple','banana','cherry'}
print(myset)

{'banana', 'cherry', 'apple'}

In [4]:
myset={'apple','banana','cherry'}
print(len(myset))

3

In [6]:
for x in myset:
    print(x)

banana
cherry
apple

In [7]:
print('banana' in myset)

True

In [8]:
myset.add("orange")
print(myset)

{'orange', 'banana', 'cherry', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'cherry', 'banana', 'pineapple', 'papaya', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'orange', 'cherry', 'banana', 'kiwi', 'apple'}

In [13]:
print(thisset)

{'orange', 'cherry', 'banana', 'kiwi', 'apple'}

In [15]:
thisset.remove("orange")
print(thisset)

{'cherry', 'banana', 'kiwi', 'apple'}

In [17]:
thisset.discard("apple")
print(thisset)

{'cherry', 'banana', 'kiwi'}

In [18]:
thisset.pop()
print(thisset)

{'banana', 'kiwi'}

In [19]:
for x in thisset:
    print(x)

banana
kiwi

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3=set1.union(set2)
print(set3)

{'c', 'b', 'a', 1, 2, 3}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'google', 'cherry', 'banana', 'microsoft'}